body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  background-color: #121212;
  color: white
}

.MainTitleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MainTitleArea p {
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.ProjectsPage {
 margin: 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#ProjectsText {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

#TutorialProjectsText {
  margin-top: 50px;
}

.Project {
  position: relative;
  width: 337.5px;
  height: 172.5px;

  color: white;
}

.Project img {
  width: 337.5px;
  height: 172.5px;
  opacity: 60%;
  border-radius: 10px;
}

.Project p {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-weight: bold;
  opacity: 80%;
}

.ProjectsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.ProjectsContainer img:hover + p{
  opacity: 1;
}

.ProjectsContainer img:hover {
  opacity: 75%;
}